<div class="container bg-secondary h-100 w-100">
  <div class="card shadow-lg text-center mx-auto" style="width: 400px;">
     <div class="card-header my-2 p float-left">{{input1}}{{function}}{{input2}}</div>
     <div class="card-body bg-light p-2">
      <p class="m-0 d-block float-left mx-2 my-0 text-secondary"></p>
      <input #inputRef class="form-control w-100 my-2 float-right" 
            type="number" name="input" placeholder="Input Number">  
         <button type="button" (click) = add() class="btn btn-success green-btn"> + </button>
         <button type="button" (click) = sub() class="btn btn-success green-btn">-</button>
         <button type="button" (click) = divide() class="btn btn-success green-btn"> / </button>
         <button type="button" (click) = mul() class="btn btn-success green-btn"> * </button>
         <!-- (=) button-->
         <button type="button" (click) = calculate() class="btn btn-danger float-right shadow-sm mx-auto" 
            style="width: 60px; height: 85px;"> = </button>
         
         <!--Second Row-->
         <div class="my-2">
            <button type="button" (click) = mod() class="btn btn-success green-btn"> % </button>
            <button type="button" (click) = sqrt() class="btn btn-success green-btn">sqrt</button>
            <button type="button" (click) = log() class="btn btn-success green-btn">log</button>
            <button type="button" (click) = cos() class="btn btn-success green-btn"> cos </button>
         </div>
         <!--Third Row-->
         <div class="my-2">
            <button type="button" (click) = sin() class="btn btn-success green-btn"> sin </button>
            <button type="button" (click) = tan() class="btn btn-success green-btn">tan</button>
            <button type="button" (click) = inverse() class="btn btn-success green-btn"> 1/x </button>
            <button type="button" (click) = pow2() class="btn btn-success green-btn"> x^2 </button>
            <button type="button" (click)= clear() class="btn btn-success green-btn"> AC </button>
         </div>


      </div>
      <div class="card-footer py-4">
         Answer : {{answer}}
      </div>
  </div>  
</div>